# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Create headings, and add text in bold and italics
+ Create tables
+ List popular languages and libraries for Data Science
+ Create a code cell to multiply and add numbers
+ Create an ordered and unordered lists

***Some of the popular languages that Data Scientists use are:***
1. Python
2. JavaScript
3. R
4. Scala
5. SQL
6. Julia

***Some of the commonly used libraries used by Data Scientists include:***
1. Pandas
2. TensorFlow
3. SciPy
4. Plotly
5. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Yuliia